* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}
nav {
    width: 100%;
    height: 10vh;
    display: flex;
}

nav .logo {
    width: 10vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{ 
    width: 32px;
    height: 32px;
}

.links {
    width: 40%;
    height:100%;
    margin-left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

a {
    text-decoration: none;
    color: black;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 13pt;
    font-weight: bold;
    
}
a:hover {
    color:tomato;
}
.getstarted{
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action_btn {
    background: orange;
    color: #fff;
    padding: 0.7rem 2rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s;

}

.action_btn:hover {
    scale: 1.05;
    color: red;
}

.action_btn:active {
    scale: 0.95;
}


.toggle_btn  {
    width: 32px;
    height: 100%;
    margin-left: 80%;
    display: none;
}



/* DROPDOWN MAP */ 

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 180px;
}


.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;

}

@media  screen and (max-width: 800px) {
    nav .links,
    nav .getstarted {
        display: none;
    }

    .toggle_btn {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dropdown_menu {
        display: block;
    }
}

@media  screen and (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}